---
title: Le Wagon - Middleman - About
---

<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
      <li>
        <a href="https://kitt.lewagon.com/alumni/kukurbitacer" target="_blank">
          <img src="https://kitt.lewagon.com/placeholder/users/kukurbitacer" alt="Camille Raiser" class="img-circle">
          <h2>Camille Raiser</h2>
        </a>
        <a href="https://github.com/kukurbitacer" target="_blank">
          <p>
            <i class="fa fa-github"></i> kukurbitacer
          </p>
        </a>
      </li>
      <li>
        <a href="https://kitt.lewagon.com/alumni/ginnywhx" target="_blank">
          <img src="https://kitt.lewagon.com/placeholder/users/ginnywhx" alt="Camille Raiser" class="img-circle">
          <h2>Hongxin Wan</h2>
        </a>
        <a href="https://github.com/ginnywhx" target="_blank">
          <p>
            <i class="fa fa-github"></i> ginnywhx
          </p>
        </a>
      </li>
    </ul>

  </div>
</div>
